<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="marginContainer comment">
      <p><%=comment.body%><br>      -<span class="authorName"> <%=User.find(comment.user_id).name%></span> at <%=comment.created_at.in_time_zone(@timezone).strftime("%l:%M %p %Z - %b %d %Y ")%>
      </p>
    </div>
  </div>
</div>