/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */
.row > div {
  padding-left: 0;
  padding-right: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow-x:hidden;
  font-family: "Courier New", monospace;
  text-align: left;
  color: white;

}

#navLogo {
  margin-top: -15px;
  height: 125px;
}

#blog {
  margin-top: 0 !important;
}

h1, h2 {
  font-family: GarageGothic, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase
}

h1 {
  font-size: 3em
}

h2 {
  font-size: 2em
}

.pink {
  background-color: #FFA0AC
}

.green {
  background-color: #99D17B;
}

.orange {
  background-color: #F1AB86;
}

.black {
  background-color: #36393B;
}

.row > div {
  margin-right: 0
}

.row > div:last-child {
  margin-right: 0 !important
}

.navEl {
  border-bottom: 0 solid #36393B;
  display: inline;
  color: #36393B;
  -webkit-transition: border-bottom .2s;
  -moz-transition: border-bottom .2s;
  -o-transition: border-bottom .2s;
  transition: border-bottom .2s;
  margin-top: 15px
}
.navEl:hover {
  border-bottom: 2px solid #36393B;
}
.noLink:hover {
  text-decoration: none;
}

.whiteLink {
  color:white;
}
.whiteLink:hover {
  color:white;
}
#homeLi:hover {
  border: none !important;
}
.indexHeader {
  color:white;
  text-align:center;
}

#nav li {
  margin-right:2.5%;
  padding-right:2.5%;
  border-right: 2px solid #36393B;
  display: inline;
}
#nav li:last-child, #blogNav li:last-child {
  margin-right: 0 !important;
  border-right: none;
  padding-right:0;
}
#nav li:hover, #blogNav li:hover {
  color: #36393B
}

#nav, #blogNav {
  padding-top: 15px;
  background: 0 0;
  border: none;
  width: 100%
}
#nav ul {
  margin: -15px 0 0 30px;
  display: inline;
  padding: 0;
  width: 22.222222223%;
}

#nav.blogNav ul {
  width: calc(16.666666667% - 15px);
}

#nav.blogNav {
  position: absolute;
}


#blogNav ul {
  padding-left: 15px !important;
}

#blogNav li {
  margin-bottom: 15px;
}


.marginContainer > h1, .marginContainer > h2 {
  margin: 25px
}

#intro {
  color: #36393B;
  margin-top: 75px;
  margin-bottom: 15px
}

#intro h1 {
  line-height: .7em;
  font-size: 6em
}

#intro h2 {
  line-height: .6em;
  font-size: 4em
}


li a, li a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit
}




.sectionHeader {
  text-align: center
}


.sectionHeader {
  margin-top: 0
}

.verticalForm > * {
  border-radius: 3px;
  margin-bottom: 15px
}

.verticalForm > :first-child {
  margin-top: 15px
}

.bigTextarea {
  min-width: 600px;
  min-height: 400px;
  max-width: 600px;
  max-height: 400px
}

.mediumTextarea {
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px
}

input, textarea, div[contenteditable=true] {
  border-radius: 0 !important;
  border: 2px solid #FFA0AC;
}

input[type=submit] {
  color: #36393B !important;
  background-color: #FFA0AC
}

::-webkit-scrollbar {
  display:none;
}

::selection {
  color: #fff;
  background: #99D17B
}
::-moz-selection {
  color: #fff;
  background: #99D17B
}

.sectionHeader {
  margin-bottom: 0
}

#nomargin {
  margin-top: 0
}

.center {
  text-align: center
}

#footer {
  background-color: #36393B
}

#companyInfo li, #socialMedia li {
  fill: #d5d3d0;
  color: #d5d3d0;
  -webkit-transition: color .2s, fill .2s;
  -moz-transition: color .2s, fill .2s;
  -o-transition: color .2s, fill .2s;
  transition: color .2s, fill .2s;
}

.socialMediaPost li {
  display:inline;
  fill: white;
}

#companyInfo li:hover, #socialMedia li:hover {
  fill: #fff;
  color: #fff
}

#companyInfo, #socialMedia {
  text-align: center
}

body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed
}


a {
  cursor: pointer;
  color: #99D17B;
  transition: color .2s
}


a:hover {
  color: #99D17B
}

@font-face {
  font-family: GarageGothic;
  src: url(/GarageGothic-Bold.otf);
}

.hiddenField {
  display: none;
}

div[contenteditable=true] {
  margin-left: calc((100% - 600px) / 2);
  min-width: 600px;
  min-height: 400px;
  max-width: 600px;
  max-height: 400px;
  padding: 10px;
  color: #36393B;
}

.createPost, .editPost {
  text-align: center;
}

.createPost div[contenteditable=true] {
  text-align: left;
}

.author {
  margin-bottom: 15px;
  font-size: .85em;
  text-align: left;
}

.editPost input, .editPost textarea, .editPost div[contenteditable=true] {
  color: #36393B;
}

.row {
  margin: 0;
}

input[type=file] {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.authorName {
  font-family: GarageGothic, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
}

.postInfo {
  margin-bottom: 0;
}

.commentTextarea {
  width: 100%;
  height: 150px;
}
.indexPostCol {
  padding-left:15px !important;
  padding-right:15px !important;
}
#postComment {
  margin-bottom: 30px;
  padding: 15px !important;
}

.comment p {
  margin: 0 0px 15px 0px !important;
}

.name {
  margin-left: 50px;
}
#mobileLogo {
  margin-top:15px;
  width:25%;
}
#commments {
  text-shadow: -2px 2px #36393B;
}

/* Mobile */

@media (max-width: 992px) {
  .indexPostCol {
    padding-left:15px !important;
    padding-right:15px !important;
  }
  #mobileNav ul {
    text-align:center;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(256,256,256,0.8);
    padding:7px;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:rgba(256,256,256,0.8);
  }
  #mobileNav .navbar-collapse {
    border:none;
  }
  #mobileNav {
    border:none;
    background:rgba(0,0,0,0);
  }
  .navbar-nav {
    background-color:#FFA0AC;
  }
  #navToggleMobile {
    border:none;
    margin-top:15px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color:#36393B;
  }
  .navbar-default .navbar-nav > li > a {
    color:#36393B;
  }
  .navbar-toggle .icon-bar {
    height:7.5px;
    width:30px;
  }
  #trigger {
    font-size:4em !important;
  }
  .row.noMargin {
    width:calc(100% + 30px);
    margin-left:-15px !important;
  }
  .row.noMarginPost {
    width:calc(100% + 15px);
  }
  #intro p {
    text-align:center;
    margin-top: 15px;
    width: 100%
  }
  .indexPostOpen {
    margin-left: -30px !important;
  }
  #intro {
    text-align:center;
  }
  .hideMobile {
    display:none;
  }
  .noMarginDivMobile {
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
  }
  #footer > ul {
    list-style-type: none;
  }
  .marginRow {
    margin-left:15px;
    margin-right:15px;
  }
  #postComment {
    margin-bottom:15px;
  }
  #mainImage {
    top: 0;
    position: fixed;
    z-index: -5;
    margin: 0 0 0 -12px;
  }
  #blogNav {
    display: none;
  }
  #logo {
    display: none
  }

  #intro h1, #intro h2 {
    line-height: .8em !important
  }
  .bigTextarea {
    min-width: 90%;
    min-height: 400px;
    max-width: 90%;
    max-height: 400px
  }
  .mediumTextarea {
    min-width: 60%;
    min-height: 200px;
    max-width: 60%;
    max-height: 200px
  }
  #companyInfo li, #socialMedia li {
    padding: 0 15px;
    margin-right: 0
  }
  #socialMedia li {
    margin-right: 2%;
    display: inline
  }
  #socialMedia li:last-child {
    margin-right: 0
  }
  #companyInfo li {
    margin-bottom: 30px;
    height: auto;
    display: list-item
  }
  .icon {
    cursor: pointer;
    width: 48px;
    height: 48px
  }
  .socialMediaPost .icon {
    width: 16.8% !important;
  }
  .socialMediaPost li {
    margin-right: 0;
  }
  .socialMediaPost {
    padding-left: 0;
  }
  .socialMediaPost li:last-child {
    margin-right: 0;
  }
  .iconWithText {
    width: 16px;
    height: 16px;
    margin-top: 2px
  }
  .footerText {
    margin-left: 15px;
    font-size: 1.25em
  }
  #companyInfo {
    margin-bottom: 30px;
    margin-top: 30px
  }
  #mobileBlogNav {
    border: 0;
    background: rgba(256, 256, 256, 0.9);
    text-align: center;
    font-size: 1.5em;
  }
  #mobileBlogNav ul {
    padding: 0;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    display: -webkit-flex;
    display: flex;
  }

  p {
    text-align: left
  }
  .marginContainer p, .marginContainer div {
    background:#36393B;
    padding: 15px;
  }
  .marginContainer {
    padding:15px;
  }

  #nav {
    display: none
  }
  h2 {
    padding-top: 15px;
    margin-top: 0 !important
  }
  #intro {
    margin-top: -15px
  }
  .postTitle {
    text-align: center;
  }
  #mobileFirstRow {
    margin-top: 15px;
  }
  #bioImage {
    margin-left:calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-image: url(https://offfwhite.blob.core.windows.net/offwhitecdn/alex.png);
    background-size: 100% auto;
    background-position:center;
    position: absolute
  }
  #bio {
    margin: 215px 0 0 0
  }
  #new_static_page {
    margin-left:10px;
  }
  #bioRow {
    padding-bottom: 25px;
    padding-top: 15px;
  }
  .bigPinkTri, .pinkTriangle, .pinkTri,.mobilePink {
    background-color:#FFA0AC;
  }
  .greenTriangle, .mobileGreen {
    background-color:#99D17B;
  }
  .mobilePink {
    background-color:#FFA0AC !important;
  }
  .mobileGreen {
    background-color:#99D17B !important;
  }
  .indexPostImage {
    width:calc(100% + 15px);
    margin-left:-15px;
  }
  .indexPostOpen {
    padding-top:0;
    width:calc(100% + 45px)
  }
  .socialMediaPost {
    margin-bottom:0;
  }
  .indexPostImageRow {
    margin-bottom:0;
  }
  .showPostInfo {
    margin-right:15px;
    margin-left:15px;
  }
  .showMobileLogo {
    margin-left:15px;
  }
  body {
    font-size: 1.5em;
  }
  #bioRow {
    background-color:#FFA0AC;
  }
  .mobileClear {
    background-color:#FFA0AC;
  }
}
/* Desktop */

@media (min-width: 993px) {
  #bioRow {
    background-color:#99D17B;
  }
  body {
    font-size: 1.75em;
  }
  .indexPostOpen {
    position:absolute;
    z-index:100;
    margin-left:-15px;
  }
  .indexPostColDesktop {
    padding-left:15px !important;
    padding-right:0 !important;
  }

  .newTri {
    background-repeat: space;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/newtri.svg);
    background-size: 100% auto
  }
  .triangleGreen {
    background-repeat: space;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/greenTriangle.svg);
    background-size: 100% auto
  }
  .bigPinkTri {
    background-repeat: space;
    background-size: 100% auto;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/pinkTri.svg)
  }

  .pinkTriangle {
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/trianglePink.svg);
    background-size: 100% auto
  }

  .greenTriangle {
    background-repeat: space;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/triangleGreen.svg);
    background-size: 100% auto
  }

  .pinkTri {
    background-repeat: space;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/pinkTri.svg);
    background-size: auto 100%
  }

  .other {
    background-repeat: space;
    background-image: url(http://az756089.vo.msecnd.net/offwhitecdn/other.svg);
    background-size: auto 100%
  }
  #intro {
    margin-left: 25px;

  }
  #intro p {
    margin-top: 30px;
    width: 90%
  }
  body {
    padding: 15px 0 3px 0;
  }
  .hideDesktop {
    display:none;
  }
  #bioImage {
    margin-top:15px;
    width: 200px;
    height: 200px;
    background-image: url(https://offfwhite.blob.core.windows.net/offwhitecdn/alex.png);
    background-size: 100% auto;
    position: absolute
  }

  #bio {
    margin: 15px 0 0 215px
  }

  #bioRow {
    padding-bottom: 25px;
    padding-top: 15px;
    background-image: url(https://offfwhite.blob.core.windows.net/offwhitecdn/circle.svg);
    background-size: 400px 400px;
    background-position: center;
    background-repeat: space
  }

  .marginContainer p, .marginContainer div {
    background-color: #36393B;
    padding: 25px !important;
    margin: 25px;
  }
  .postTitle {
    text-align: center;
  }
  #mainImage {
    position: fixed;
    z-index: -5;
    width: 66.666666666%;
    margin-left: 16.666666667%;
  }
  #companyInfo li, #socialMedia li {
    display: inline;
    padding-top: 42px
  }
  .socialMediaPost {
    margin: 0;
    padding: 0 0 15px 0;
  }
  #companyInfo, #socialMedia {
    height: 120px;
    margin-top: 0;
    padding-top: 52px
  }
  #companyInfo {
    position: absolute
  }

  #footer {
    font-size: 14px;
    height: 120px
  }
  #companyInfo, #socialMedia {
    background-color: #36393B
  }
  #logo {
    position: static !important;
    width: calc(100% - 15px) !important;
    margin-left: 15px !important;
    margin-bottom: 15px !important
  }
  .icon {
    width: 16px;
    height: 16px
  }
  .iconWithText {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 2px
  }
  .footerText {
    margin-left: 25px
  }
  #companyInfo li, #socialMedia li {
    margin-right: 7%
  }
  .socialMediaPost li {
    margin-right: 1.5%;
  }
  #companyInfo li:last-child, #socialMedia li, .socialMediaPost li:last-child {
    margin-left: 0
  }
  .marginContainer p {
    padding: 5px;
    margin: 25px
  }
  .indexPostImage {
    width:calc(100% + 30px);
    margin-left:-15px;
  }
  .indexPostImageRow {
    margin-bottom:75px;
  }
}


.indexPostImageRow:nth-last-child(2) {
  margin-bottom:15px;
}

.pager li > a {
  border:none;
  color: #36393B !important;
  background-color: #FFA0AC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pager li > a:hover {
  color: #36393B !important;
  background-color: #FFA0AC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
   border-radius: 0;
}

#nav {
  color:#36393B;
}
#blogLi {
  width:125px;
  text-align:center;
  margin-left:72.5px;
  margin-top:15px;
}
#nav.blogNav li {
  border-right:none;
  border-left:none;
}
